* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #202124;
  background-color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0.5rem;
  width: 3em;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.top-right {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding-right: 1em;
}

#settings-btn,
#user-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #5f6368;
  position: relative;
}

#settings-btn:hover {
  color: #006eff;
}

.tooltip {
  visibility: hidden;
  /* Ẩn đi ban đầu */
  background-color: #333;
  color: #ddd;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  white-space: nowrap;
}

#settings-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#user-btn:hover {
  color: #006eff;
}

.icons .bx {
  font-size: 30px;
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #5f6368;
}

/* Modal Menu */
.modal-menu {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: left;
}

.menu-item {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  color: #5f6368;
}

.menu-item.active {
  color: #1a73e8;
  background-color: #e8f0fe;
  border-radius: 4px;
}

.modal-body {
  margin-left: 30%;
  padding: 10px;
}

.audio-settings h3 {
  font-size: 16px;
  color: #202124;
}

.audio-settings select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.test-button {
  background-color: #1a73e8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*----------------------------------main------------------------------------*/
.main-container {
  align-items: center;
  display: inline-flex;
  height: 100%;
  min-height: 80vh;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container h1 {
  font-size: 2.5em;
  font-weight: lighter;
  margin: 10px 0;
  color: #333;
}

.main-content-left {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 35rem;
  flex-shrink: 1;
  max-width: 35rem;

}

.main-content-right {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-basis: 45%;
  overflow: hidden;
}

.description {
  font-size: 1.5em;
  color: #333;
  margin-top: 15px;
}

.we {
  font-weight: bold;
  color: #FFD700;
  font-size: 1.2em;
}

.meet {
  font-weight: bold;
  color: #1a73e8;
  font-size: 1.2em;
}

.call-area {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.call-btn .button-cn {
  background-color: #1a73e8;
  color: #fff;
  padding: 12px 25px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.call-btn .button-cn:hover {
  background-color: #1559b0;
}

.input-box {
  display: inline-flex;
  align-items: center;
}

.input-section {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-section i {
  margin-left: 10px;
  color: #666;
}

.input-section input {
  padding: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-box .input-section input:focus {
  border-color: #1a73e8;
}

.input-box .button-join {
  background-color: #FFD700;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-box .button-join:hover {
  background-color: #b19600ab;
}

.downline {
  align-self: stretch;
  border-bottom: 1px solid;
  border-color: var(--gm3-sys-color-outline, #747775);
  margin-top: 2em;
  max-width: 42rem;
}